<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');

        html {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100vw;
            background-color: #f8f9fa;
        }

        .logo {
            display: flex;
            flex-direction: row;
            margin: auto;
            padding: 10px;
            border-radius: 5px;
            font-family: "Freeman", sans-serif;
        }

        .logo img {
            margin-top: 20px;
            padding-right: 15px;
            height: 32px;
        }

        h1 {
            font-family: "Crete Round", serif;
            font-weight: 400;
            font-size: 1.8rem;
        }

        h3 {
            font-family: "Freeman", sans-serif;
            font-weight: 400;
        }
    </style>
</head>
<body>
    <div class="logo">
        <img src="cid:logo@coletivogloma" alt="Coletivo Gloma">
        <h2>Coletivo Gloma</h2>
    </div>    
    <h1>Obrigado por se cadastrar no Coletivo Gloma!</h1>
    <p>Ficamos muito feliz com sua participação nesta jornada para ajudar o próximo.</p>
    <p>Logo abaixo você vai encontrar o seu link e código de ativação,<br> junto com uma breve explicação de como ativar seu usuário.</p>
    <p>Para ativar o seu usuário é muito simples, somente clicar no link "Ativar usuário" <br>
    logo abaixo, caso o mesmo não funcione, anote o seu código, e siga o passo a passo: <br>
    <br>
    Entre no site: www.coletivogloma.com.br/login<br>
    Realize login com suas credenciais<br>
    Ao solicitar o código de ativação, utilize o código abaixo.</p>
    <h3>Código: {{activationCode}}</h3>
    <h3>Link: <a href="{{activationLink}}">Ativar usuário</a></h3>
</body>
</html>
