@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #f8f9fa;
}

.logo {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    font-family: "Freeman", sans-serif;
}

.logo img {
    margin-top: 20px;
    padding-right: 15px;
    height: 32px;
}

h1 {
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 1.8rem;
}

h3 {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
}