name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: shimataro/ssh-key-action@v2.7.0
        with:
          key: ${{ secrets.SSH_ACCESS_AWS }}
          known_hosts: '18.204.69.210'

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ec2-user@18.204.69.210 '
            cd CG-back-end &&
            git pull origin main &&
            docker compose down &&
            docker compose --env-file compose.yml up -d
          '
